:root {
  background: #91e0f4;
}

@media screen {
  
}



/*Starter*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 130px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*Starter end*/

/*-----Navbar-----*/

header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: baseline;
  -ms-flex-item-align: h1 ul;
  background-color: rgb(50, 92, 125);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 100%;
  /* background-color: rgb(50, 92, 125); */
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change link colour on hover */
li a:hover {
  background-color: rgb(14, 48, 71);
}

.avatar {
  width: 10%;
  margin: 5px;
}
h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: center;
  font-size: xx-large;
  margin: auto 0;
}


nav {
  margin: auto 0;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

ul {
  position: fixed;
  top: 0;
  float: right;
  width: 100%;
} */

/*----Main-----*/

.page-wrapper {
  display: grid;
  margin: 10px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1 fr 1 fr;
  /* grid-template-areas:
    "leftSidebar topRow topRow"
    "leftSidebar rightContent"
    "leftSidebar rightContent" */
}

.topRow {
  grid-area: topRow;
}

.leftSidebar {
  grid-area: leftSidebar;
}

.rightContent {
  grid-area: rightContent;
}


.hero-banner {
  margin: 5px;
  background-image: url(assets\images\02-hero-bg.jpg);

}

.paraContent {
  padding: 10px;
}

/* .work-section {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: ;
  background-color: #2196F3;
  padding: 10px;
  border-color: black;
  
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  background-color: yellow;
  
}

.container {
  padding: 2px 16px;
}

/* .work-section {
  display: grid;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  /* grid-template-columns: 1fr 1fr 1fr; 

}*/

.middleContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card1 {
  grid-column: 1 / 3;
}

/*---Footer---*/

